$contentHeight: 400px;
$contentWidth: 800px;
$contentHeightMobile: 300px;


.exhibition-wrap {
  width: 100%;
  height: $contentHeight;
  margin: 120px 0;
  position: relative;
  overflow: hidden;
  .exhibition-wrap-img {
    width: 100%;
    height: calc(100% + 480px);
    position: absolute;
    top: -240px;
    left: 0px;
  }
  .carousel-wrap {
    width: $contentWidth;
    max-width: calc(100% - 40px);
    height: $contentHeight;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    .carousel-item {
      width: 100%;
      height: $contentHeight;
      text-align: center;
      background-color: aquamarine;
    }
    .earth {
      width: 120px;
      height: 120px;
      position: absolute;
      left: -60px;
      top: -100px;
    }
    .carousel-wrap-img {
      width: calc(100% + 16px);
      height: calc(100% + 80px);
      position: absolute;
      left: -8px;
      bottom: -8px;
      background-image: url(../../../../assets/img/carousel-wrap-img.png);
      background-size: 100% 100%;
    }
    .arc-star-img {
      width: calc(100% + 200px);
      height: 200px;
      position: absolute;
      left: -100px;
      bottom: -40px;
    }
  }
}
@media (min-width: 992px) {

}
@media (max-width: 991px) {
  .exhibition-wrap {
    height: $contentHeightMobile;
    margin: 100px 0;
    .carousel-wrap {
      width: 100%;
      max-width: 100%;
      height: $contentHeightMobile;
      .carousel-item {
        height: $contentHeightMobile;
      }
      .carousel-wrap-img {
        background-image: url(../../../../assets/img/carousel-wrap-img-mobile.png);
        background-size: 100% 100%;
      }
    }
  }
}