.header-wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.left-nav {
  text-align: left;
  .logo-wrap {
    margin-top: 10px;
    height: 40px;
    background-image: url(../../assets/img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.right-nav {
  text-align: right;
  a {
    margin-right: 58px;
    color: #fff;
    cursor: pointer;
  }
  img {
    width: 16px;
    height: 16px;
  }
}

@media (min-width: 992px) {
}
@media (max-width: 991px) {
  .ant-layout-header {
    padding: 0 20px !important;
    font-size: 12px;
  }
  .left-nav {
    .logo-wrap {
      margin-top: 16px;
      height: 28px;
      background-image: url(../../assets/img/logo-mobile.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .right-nav {
    text-align: right;
    a {
      margin-right: 30px;
    }
    span {
      margin-right: 10px !important;
    }
  }
}