.first-screen-wrap {
  width: 100%;
  height: 600vh;
  .sticky-wrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: sticky;
    top: 0;
    .cityBg {
      background-image: url(../../../../assets/img/cityBg.png);
      background-size: 100% 100%;
      .star {
        background-color: #f0f0f0;
        width: 1.5px;
        height: 1.5px;
        position: absolute;
        border: #f0f0f0 0px solid;
        border-radius: 50%;
        opacity: 0;
        -webkit-box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.5);
        animation: glow 5s ease-in-out infinite;
      }
      @keyframes glow {
        0% {
            opacity: 0;
            transform: scale(1, 1);
        }
        20% {
            opacity: 0.5;
        }
        35% {
            opacity: 1;
        }
        50% {
            transform: scale(2, 2);
        }
        100% {
            transform: scale(1, 1);
        }
      }
    }
    .first-screen-wrap-img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
    }
    .city-wrap {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      .darkCity {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: -5em;
        left: 0px;
        object-fit: cover;
      }
      .brightCity {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: -5em;
        left: 0px;
        object-fit: cover;
        animation: flashLight 3s infinite;
      }
    }
    .city-img-wrap{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      .rocket {
        width: 100px;
        position: absolute;
        top: 100px;
        left: 25%;
        animation: verticalFloat 8s linear infinite;
        animation-delay: 5s;
      }
      .giantLogo {
        width: 100px;
        position: absolute;
        top: 100px;
        right: 20%;
        animation: logoFloat 5s linear infinite;
        animation-delay: 1s;
      }
    }
    .universe-wrap {
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: -100%;
      left: 0px;
      .rocketSpacecraft {
        width: 20%;
        position: absolute;
        bottom: 0px;
        right: 0px;
      }
      .land {
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
      }
      .man {
        width: 18%;
        position: absolute;
        bottom: 20px;
        left: 41%;
      }
    }
    .universe-img-wrap {
      width: 100%;
      height: 100%;
      position: absolute;
      top: -100%;
      left: 0px;
      overflow: hidden;
      img {
        position: absolute;
        animation: verticalFloat 8s linear infinite;
      }
      .airship1 {
        width: 280px;
        right: 0px;
        bottom: 0px;
        animation-delay: 1s;
      }
      .airship2 {
        width: 100px;
        right: 40%;
        top: 40%;
        animation-delay: 6s;
      }
      .airship3 {
        width: 280px;
        left: 0px;
        bottom: 0px;
        animation-delay: 3s;
      }
      .planet1 {
        width: 125px;
        right: 30%;
        top: 20px;
        animation-delay: 0.3s;
      }
      .planet2 {
        width: 170px;
        right: 30%;
        top: 40%;
        animation-delay: 3s;
      }
      .planet3 {
        width: 165px;
        right:20px;
        top: 20%;
        animation-delay: 1.4s;
      }
      .planet4 {
        width: 180px;
        left: 20%;
        top: 40px;
        animation-delay: 2.1s;
      }
      .planet5 {
        width: 98px;
        left: 30%;
        top: 40%;
        animation-delay: 1.2s;
      }
      .planet6 {
        width: 132px;
        left: 140px;
        bottom: 150px;
        animation-delay: 2.2s;
      }
      .planet7 {
        width: 395px;
        left: 40%;
        top: 10%;
        animation-delay: 2s;
      }
      .trajectory1 {
        right: 20px;
        top: 0;
        animation-delay: 1.25s;
      }
      .trajectory2 {
        left: 0px;
        bottom: 80px;
        animation-delay: 1s;
      }
    }
  }
}
@keyframes verticalFloat {
  0% {
    transform: translateX(0px) translateY(0px) translateZ(0px);
  }
  50% {
      transform: translateX(10px) translateY(-10px) translateZ(10px);
  }
  100% {
      transform: translateX(0px) translateY(0px) translateZ(0px);
  }
}

@keyframes logoFloat {
  0% {
    transform: translateX(0px) translateY(0px) translateZ(0px);
  }
  50% {
      transform: translateX(0px) translateY(-10px) translateZ(10px);
  }
  100% {
      transform: translateX(0px) translateY(0px) translateZ(0px);
  }
}

@keyframes flashLight {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}


@media (min-width: 992px) {
}
@media (max-width: 991px) {
  .first-screen-wrap {
    height: 500vh;
    .sticky-wrap {
      .universe-wrap {
        .rocketSpacecraft {
          width: 20%;
          position: absolute;
          bottom: 0px;
          right: 0px;
        }
        .land {
          width: 100%;
          position: absolute;
          bottom: 0px;
          left: 0px;
        }
        .man {
          width: 70%;
          position: absolute;
          bottom: 10px;
          left: 20%;
        }
      }
      .universe-img-wrap {
        .airship1 {
          width: 140px;
          right: 0px;
          bottom: 0px;
        }
        .airship2 {
          width: 100px;
          right: 20%;
          top: 40%;
        }
        .airship3 {
          width: 140px;
          left: 0px;
          bottom: 0px;
        }
        .planet1 {
          width: 100px;
          right: 20px;
          top: 20px;
        }
        .planet2 {
          width: 150px;
          right: -70px;
          top: 40%;
        }
        .planet3 {
          display: none;
        }
        .planet4 {
          width: 120px;
          left: -60px;
          top: 40px;
        }
        .planet5 {
          width: 100px;
          left: 0;
          top: 40%;
        }
        .planet6 {
          display: none;
        }
        .planet7 {
          width: 300px;
          left: calc(50% - 150px);
          top: 10%;
        }
        .trajectory1 {
          display: none;
        }
        .trajectory2 {
          display: none;
        }
      }
    }
  }
}
