.partner-wrap {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  background: linear-gradient(270deg, #0032FF 10%, #FF0EFF 100%);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  .partner-item {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    .partner-left-text {
      height: 76px;
      line-height: 76px;
      font-size: 56px;
      font-family: 'Montserrat',HelveticaNeue-BoldItalic, HelveticaNeue;
      font-weight: normal;
      color: #FFFFFF;
      position: relative;
      z-index: 1;
      .partner-left-text-line {
        width: 50%;
        height: 0;
        border-bottom: 8px solid;
        border-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) 8 8 8 8;
        position: absolute;
        left: 0;
        bottom: -20px;
      }
    }
    img {
      width: 160px;
      height: 66px;
    }
    img:first-child {
      margin-bottom: 40px;
    }
  }
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

@media (max-width: 991px) {
  .partner-wrap {
    .partner-item {
      margin: 20px;
      .partner-left-text {
        font-size: 28px;
        height: 57px;
        line-height: 57px;
      }
      img {
        width: 160px;
        height: 66px;
      }
    }
  }
}