.square-wrap {
  max-width: 1200px;
  margin: 40px auto;
  .square {
    padding: $wrapPadding;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(27px);
    color: #fff;
    position: relative;
    overflow: hidden;
    img.truthVolcano {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      margin-top: -1px;
      opacity: 0.6;

    }
    .word-wrap {  
      width: 100%;
      padding: 20px 0;
      margin-bottom: 40px;
      position: relative;
      border-bottom: 1px solid;
      border-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) 0 0 1 0;
      > p.title {
        width: 100%;
        line-height: 76px;
        font-size: 56px;
        text-align: left;
        font-family: HelveticaNeue-BoldItalic, HelveticaNeue;
        font-weight: normal;
        color: #FFFFFF;
        margin: 0px;
        word-break: break-all;
        .word-line-wrap {
          position: relative;
          .word-line {
            display: inline-block;
            width: 70%;
            position: absolute;
            left: 35%;
            bottom: 0px;
            border-bottom: 5px solid;
            border-image: linear-gradient(to right, #3c00ff, #ec6eff) 0 0 5 0;
          }
        }

      }
      > p.description {
        width: 100%;
        line-height: 32px;
        margin-top: 40px;
        text-align: left;
        font-size: 24px;
        font-family: HelveticaNeue-Medium, HelveticaNeue;
        font-weight: 500;
        color: #FFFFFF;
      }
    }
  
    .square-data-wrap {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      .square-data-item {
        height: 120px;
        min-width: 155px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        >div {
          font-size: 48px;
          font-family: HelveticaNeue-BoldItalic, HelveticaNeue;
          font-weight: bold;
          color: #ffffff;
          line-height: 58px;
          letter-spacing: 1px;
          margin-bottom: 11px;
        }
        div.square-data-des {
          font-size: 14px;
          font-family: PingFangSC-Medium, PingFang SC;
          color: #bbb7b7;
          line-height: 22px;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .bot-logo {
    width: 25%;
    position: absolute;
    right: 40px;
    bottom: -40px;
  }
  .alone-line {
    min-width: 155px;
  }
}
@media (max-width: 991px) {
  .bot-logo {
    width: 55%;
    position: absolute;
    right: 0px;
    bottom: 120px;
  }
  .alone-line {
    min-width: 100% !important;
  }
  .square-wrap {
    padding: $wrapPadding;
    margin: 0px;
    .square {
      .word-wrap {
        > p.title {
          font-size: 32px;
          line-height: 40px;
        }
        > p.description {
          font-size: 16px;
          line-height: 24px;
        }
      }
      .square-data-wrap {
        .square-data-item {
          height: 100px;
          >div {
            font-size: 36px;
            line-height: 40px;
          }
          div.square-data-des {
            font-size: 12px;
          }
        }
      }
    }
  }
}