.redHalo {
  position: fixed;
  height: 500px;
  width: 500px;
  z-index: 1;
  background-color: #EC6EFF;
  border-radius: 50%;
  transform-origin: 100px;
  animation: halo 10s linear infinite;
  animation-duration: 5s;
  mix-blend-mode: plus-lighter;
  filter: blur(100px)
}
.blueHalo {
  position: fixed;
  height: 500px;
  width: 500px;
  z-index: 1;
  background-color: #3C00FF;
  border-radius: 50%;
  transform-origin: 100px;
  animation: halo 10s linear infinite;
  animation-duration: 8s;
  animation-direction: reverse;
  mix-blend-mode: plus-lighter;
  filter: blur(300px)
}
@keyframes halo {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}