.home-wrap {
  width: 100%;
  overflow-x: hidden;
}
/*fade*/
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}
.fade-appear {
  opacity: 0;
}
.fade-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

/*show*/
.show-enter {
  opacity: 0;
  transform: translate(0,200px);
}
.show-enter-active {
  opacity: 1;
  transition: all 1s ease-in;
  transform: translate(0,0);
}
.show-exit {
  opacity: 1;
  transition: all 1s ease-in;
  transform: translate(0,0);
}
.show-exit-active {
  opacity: 0;
  transform: translate(0,200px);
}
.show-appear {
  opacity: 0;
  transform: translate(0,200px);
}
.show-appear-active {
  opacity: 1;
  transition: all 1s ease-in;
  transform: translate(0,0);
}