.participate-wrap {
  max-width: 1200px;
  margin: 40px auto;
  .participate-header {
    width: 100%;
    height: 150px;
    line-height: 150px;
    font-size: 56px;
    font-family: HelveticaNeue-BoldItalic, HelveticaNeue;
    font-weight: normal;
    color: #FFFFFF;
    text-align: center;
    background-image: url(../../../../assets/img/participate-header-bg.png);
    background-size: 100% 100%;
  }
  .participate-list {
    width: 100%;
    margin: 40px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .list-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      .item-img-wrap {
        width: 220px;
        height: 220px;
        margin: 20px 0;
        cursor: pointer;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      .item-text {
        width: 220px;
        text-align: center;
        line-height: 30px;
        font-size: 24px;
        font-family: HelveticaNeue-Medium, HelveticaNeue;
        font-weight: 500;
        color: #FFFFFF;
      }
    }
  }
  .participate-footer-wrap {
    position: relative;
    width: 100%;
    height: 68px;
    .participate-footer {
      width: 100%;
      max-width: 492px;
      line-height: 68px;
      font-size: 24px;
      text-align: center;
      font-family: HelveticaNeue-BoldItalic, HelveticaNeue;
      font-weight: normal;
      color: #FFFFFF;
      background-image: url(../../../../assets/img/participate-footer-bg.png);
      background-size: 100% 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 1;
      .participate-arrow {
        display: inline-block;
        width: 23px;
        height: 20px;
        background-image: url(../../../../assets/img/participate-arrow.png);
        background-size: 100% 100%;
        animation: participateArrowMovement 2s linear infinite;
        -webkit-animation: participateArrowMovement 2s linear infinite;
        -moz-animation: participateArrowMovement 2s linear infinite;
      }
        
      @keyframes participateArrowMovement {
        from {
          scale: 1;
          margin-left: 20px;
        }
    
        to {
          scale: 1.2;
          margin-left: 28px;
        }
      }
    }
  }
}
@media (min-width: 992px) {

}
@media (max-width: 991px) {
  .participate-wrap {
    padding: $wrapPadding;
  }
  .participate-wrap {
    .participate-header {
      height: 88px;
      line-height: 88px;
      font-size: 22px;
      background-image: url(../../../../assets/img/participate-header-bg.png);
    }
    .participate-list .list-item {
      .item-img-wrap {
        width: 140px;
        height: 140px;
      }
      .item-text {
        width: 140px;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  .participate-footer {
    font-size: 18px !important;
  }
}