.metacosmic-wrap {
  padding: $wrapPadding;
  .metacosmic-main {
    width: 100%;
    height: 400px;
    background-image: url(../../../../assets/img/metacosmic-bg.png);
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    .metacosmic-title {
      width: 100%;
      line-height: 32px;
      text-align: left;
      word-spacing: 0.625rem;
      font-weight: 500;
      font-style: italic;
      float: left;
      font-size: 2rem;
      background: linear-gradient(270deg, #FF0EFF 60%, #0032FF 100%);
      -webkit-background-clip: text;
      color: transparent;
    }
    .metacosmic-content {
      padding: 0 3rem;
      height: calc(100% - 80px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      .cont-text {
        line-height: 36px;
        font-size: 36px;
        font-family: HelveticaNeue-BoldItalic, HelveticaNeue;
        font-weight: normal;
        color: #FFFFFF;
        margin-bottom: 40px;
      }
      .online-day-wrap {
        display: flex;
        align-items: center;
        .online-day {
          height: 58px;
          line-height: 58px;
          font-size: 48px;
          margin-right: 10px;
          font-family: HelveticaNeue-BoldItalic, HelveticaNeue;
          font-weight: normal;
          color: #FFFFFF;
        }
        .online-tag {
          height: 28px;
          line-height: 28px;
          font-size: 24px;
          font-family: HelveticaNeue-BoldItalic, HelveticaNeue;
          font-weight: normal;
          color: #FFFFFF;
        }
      }
    }
    .mountain {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .metacosmic-card-list {
    width: 100%;
    margin: 20px 0;
    .metacosmic-card {
      height: 228px;
      padding: 40px 20px;
      position: relative;
      overflow: hidden;
      background: rgba(216,216,216,0.1);
      border-radius: 24px;
      border: 1px solid rgba(255,255,255,0.32);
      .metacosmic-card-text {
        font-size: 28px;
        font-family: HelveticaNeue-BoldItalic, HelveticaNeue;
        font-weight: normal;
        color: #FFFFFF;
        line-height: 46px;
        position: relative;
        z-index: 1;
      }
      .metacosmic-card-arrow {
        margin-top: 20px;
        width: 35px;
        height: 7px;
      }
      .metacosmic-card-img {
        position: absolute;
        bottom: -60px;
        right: -60px;
        // width: 150px;
        // height: 130px;
      }
    }
  }
}
@media (min-width: 992px) {
  .centerEarth {
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 80px;
    animation: centerEarthMovement 3s ease-in-out infinite;
  }
  @keyframes centerEarthMovement {
    0% {
      transform: translateY(0px);
    }
    50% {
        transform: translateY(-6px);
    }
    100% {
        transform: translateY(0px);
    }
  }
}
@media (max-width: 991px) {
  .metacosmic-main {
    background-image: url(../../../../assets/img/metacosmic-mobile-bg.png) !important;
  }
  .centerEarth {
    height: 200px;
    position: absolute;
    bottom: -100px;
    right: -100px;
    animation: centerEarthMovement 3s linear infinite;
  }
  @keyframes centerEarthMovement {
    0% {
      transform: translateX(0px) translateY(0px) translateZ(0px);
    }
    50% {
        transform: translateX(10px) translateY(10px) translateZ(10px);
    }
    100% {
        transform: translateX(0px) translateY(0px) translateZ(0px);
    }
  }
}